# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credenciales
sa-*.json
*-key.json
*-creds-*.json
*.pem
*.key

# Permitir metadata.json y terraform lock
!pub-sub/dataflow/metadata.json
!infra/.terraform.lock.hcl

# Google Cloud SDK (instalación local)
gpc/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
