# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credenciales
*.json
sa-*.json
*.pem
*.key

# Google Cloud SDK (instalación local)
gpc/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
